*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat', sans-serif;
    background-image: url(./new-bg.jpg);
    background-size: cover;
    background-position: top center;

}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.12rem 1rem 1rem;
}
header .search-box{
    color: white;
}
header input{
    width: 100%;
    height: 1.8rem;
    max-width: 200px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem 0px 1rem 0px;
    border-bottom: 3px solid #DF8E00;

    color: white;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus{
    background-color: rgba(255, 255, 255, 0.6);
}

main{
    display: flex;
    padding: 1.2rem 1.2rem 3.12rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: center;
    
}

.location .city{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: white;
    font-size: 1rem;
}

.current .temp{
    color: white;
    font-size: 6rem;
    font-weight: 700;
    margin: 1.8rem;
}

.current .weather{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    
    margin-bottom: 15px;
}

.current .hi-low{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}